.containerModify {
  display: flex;
  flex-direction: column;
}
.input {
  margin-bottom: 1.3rem;
}

.customButtonStyle {
  width: 80px;
  height: 25px;
  position: absolute;
  right: 0%;
  top: 0px;
}
